[Unit]
Description=Pull castle configuration

[Container]
Image=ghcr.io/adborden/castle:latest
Volume=ansible-pull:/home/ansible
Environment=ANSIBLE_PULL_ARGS={{ ansible_pull_args }}
Environment=ANSIBLE_PULL_PLAYBOOK={{ ansible_pull_playbook }}
Environment=ANSIBLE_PULL_REF={{ ansible_pull_ref }}
Environment=ANSIBLE_PULL_REPOSITORY={{ ansible_pull_repository }}

[Service]
Type=oneshot
