[Unit]
Description=Pull castle configuration

[Service]
Environment=ANSIBLE_PULL_PLAYBOOK={{ castle_pull_playbook }}
Environment=ANSIBLE_PULL_REF={{ castle_pull_ref }}
Environment=ANSIBLE_PULL_REPOSITORY={{ castle_pull_repository }}
ExecStart=ansible-pull --url "${ANSIBLE_PULL_REPOSITORY}" --checkout "${ANSIBLE_PULL_REF}" --verify-commit "${ANSIBLE_PULL_PLAYBOOK}"
Type=oneshot
